.container {
	display: none;

}
h4 {
	font-size: 1.5em;
}
body {
     font-family: Calibri !important;
}
#dramaTitle {
	color: #3C8F6D;
}

.text {
	color: black !important;
	font-size: 1.2em;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

 .navbar {
 	margin-bottom: 4%;
 	margin-top: 3%;
 	background: linear-gradient(to left, #114877, #84B4DB);
 	font-size: 1.3em;
 }

 li {
 	transition: all 1s ease;
 }

 ul.dropdown-menu {
 	background-color: #84B4DB;
 	font-size: 1.1em;
 }

 .dropdown-menu li {
 	transition: all 1s ease;
 	background-color: #84B4DB;
 }

 li.superactive{
 	background-color: #3C8F6D !important;
 }

 li:hover{
 	background-color: #3C8F6D;
 }

.links {
	color: black !important;
}

.dropdown ul li a:hover {
	background-color: #3C8F6D;
}

 .box {
 	width: 40%;
 	height: 100%;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style: solid;
	padding: 1%;
	display: inline-block;
	margin-bottom: 5%;
	vertical-align: top;
	margin-right: 4% !important;
}

.box-row {
	vertical-align: top;
	display: inline-block;
}

#to-matrix {
	float: left;

}

#to-dramaAnalysis {
	float: left;
}

#to-speakerAnalysis {
	float: left;

}

#to-speechAnalysis {
	float: left;
}