#wrapper {
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.insideLeft {
	float: left;
}

.insideRight {
	float: right;
	text-align: center;
}

.container {
	display: none;
}

th {
	text-align: center;
	vertical-align: middle !important;
	transition: all 1s ease;
}

.filled {
	background-color: #00BFFF;
}

td {
	text-align: center;
	vertical-align: middle !important;
	transition: all 0.5s ease;
}

td.tooltipstered:hover {
	background-color: #00BFFF !important;
	cursor: pointer;
	border: 1px solid black !important;
}

th.tooltipstered:hover {
	background-color: #00BFFF !important;
	cursor: pointer;
}