#wrapper {
	margin-left: 5% !important;
	margin-right: 5% !important;
}
table{
	display: none;
}

th {
	text-align: center;
	vertical-align: middle !important;
	transition: all 1s ease;
}

td {
	text-align: center;
	vertical-align: middle !important;
	transition: all 0.5s ease;
}

td:hover {
	background-color: #00BFFF !important;
	cursor: pointer;
}

th:hover {
	background-color: #00BFFF !important;
	cursor: pointer;
}