.container {
	margin-left: 5%;
	margin-right: 5% !important;
}

#no-results {
	width: 100%;
	float: left !important;
}

#download-csv {
	float: right !important;
}

table {
	display: none;
}

#no-results {
	display: none;
}

#confMatrix {
	display: none;
}

form {
	width: 100%;
}

fieldset.range {
	float: left !important;
	margin-right: 1% !important;
}

.form-control {
	width: auto;
}

.more-range {
	display: none;
}

legend {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin: 0px !important;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

th {
	text-align: center;
	vertical-align: middle !important;
}

td {
	text-align: center;
	vertical-align: middle !important;
}

tr {
	transition: all 1s ease;
}

tr:hover {
	background-color: #00BFFF !important;
	cursor: pointer;
}