th {
	text-align: center;
	vertical-align: middle !important;
}

.container {
	display: none;
}

.png-download {
	float: right;
}

.line {
	height: 1px;
	border: 1px solid #ddd;
}

table {
	margin-bottom: 7% !important;
}

h3 {
	margin-top: 5%;
}

.box {
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style: solid;
	padding: 1%;
	margin-bottom: 5%;
}

td {
	text-align: center;
	vertical-align: middle !important;
}

#chart-div-act {
	width: 100%;
}

.dropdown-form {
	width: 20%;
}

#act-graph {
	border: 1px groove grey;
	padding: 1%;
}

.unfold-col {
	padding: 0px !important;
}

.unfold-down {
	border: 0px !important;
	width: 100% !important;
	height: 100% !important;
	background-color: white;
}
.unfold-up {
	border: 0px !important;
	width: 100% !important;
	height: 100% !important;
	background-color: white;
}