body {
	display: none;
}

td {
	text-align: center;
	vertical-align: middle !important;
}

th {
	text-align: center;
	vertical-align: middle !important;
}

th:hover {
	cursor: pointer;
}

#speeches-dominance {
	margin-left: auto;
	margin-right: auto;
}

h3 {
	margin-top: 5%;
}

.png-download {
	float: right;
}

.dropdown-form {
	width: 20%;
}

.google-visualization-controls-rangefilter{
	text-align: center;
}

#speakers-table {
}

#dashbord-speakers-barChart{
}

.relation {
	margin: 2%;
	width: 30%;
	height: 10%;
	border: 3px solid black;
}

.box {
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style: solid;
	padding: 1%;
	margin-bottom: 5%;
	display: inline-block;
}

.google-visualization-controls-slider-horizontal{
	width: 600px !important;
}

span {
	display: block !important;
}

.relationbox {
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#independent {
	float: left;
	display: inline-block;
	display: inline;
	zoom: 1;
	vertical-align: middle;
}

#concomitant {
	float: right;
	display: inline-block;
	display: inline;
	zoom: 1;
	vertical-align: middle;
}

.independent {
	float: left;
}

.concomitant {
	float: right;
}

.relationSingleBox {
	width: 30% !important;
}

#speaker-name {
	font-style: bold;
	font-size: 20px;
	display: inline-block;
	display: inline;
	zoom: 1;
	vertical-align: middle;
}