.container {
	display: none;
}

h3 {
	margin-top: 5%;
}

.box {
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style: solid;
	padding: 1%;
	display: inline-block;
	margin-bottom: 5%;
}

.google-visualization-controls-rangefilter{
	text-align: center;
}

.google-visualization-controls-slider-horizontal{
	width: 600px !important;
}